<h1>Select Cohort</h1>

<ul>
	<% @cohorts.each do |cohort| %>
	<li><%= link_to cohort.name, cohort_path(cohort) %></li>
	<% end %>
</ul>



<% @students.each do |student| %>

<div class='content'>

	<div class='detail-box'>

		<h1 class='title'><%= student.first_name + " " + student.last_name %></h1>
		
			<div class='detail teacher'>	
				<h2>Who is your favorite teacher:</h2><p> <%= student.favorite_teacher %></p>
			</div>

			<div class='detail teacher'>
				<h2>What is your guilty pleasure: </h2><p> <%= student.guilty_pleasure %></p>
			</div>

			<div class='detail inspiration'>
				<h2>Who has inspired you: </h2><p><%= student.inspiration %></p>
			</div>

			<div class='detail project'>
				<h2>What was your last cool project before class: </h2><p><%= student.cool_project %>
			</div>

	</div>


	<div class='profile-box'>
		<p>Twitter Handle: <%= student.twitter_handle %></p>
		<p>Github Username: <%= student.github_username %></p>
	</div>
	
</div>
<% end %>