<% @students.each do |student| %>
	<h1><%= student.first_name + " " + student.last_name %></h1>
	<ul>
		<li>Twitter Handle: <%= student.twitter_handle %></li>
		<li>Github Username: <%= student.github_username %></li>
		<li>Who is your favorite teacher: <%= student.favorite_teacher %></li>
		<li>What is your guilty pleasure: <%= student.guilty_pleasure %></li>
		<li>Who has inspired you: <%= student.inspiration %></li>
		<li>What was your last cool project before class: <%= student.cool_project %></li>
	</ul>
<% end %>