<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multiPart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :github_username %><br />
    <%= f.text_field :github_username %>
  </div>

  <div class="field">
    <%= f.label :twitter_handle %><br />
    <%= f.text_field :twitter_handle %>
  </div>

  <div class="field">
    <%= f.label :favorite_teacher %><br />
    <%= f.text_field :favorite_teacher %>
  </div>

  <div class="field">
    <%= f.label :guilty_pleasure %><br />
    <%= f.text_field :guilty_pleasure %>
  </div>

  <div class="field">
    <%= f.label :inspiration %><br />
    <%= f.text_field :inspiration %>
  </div>

  <div class="field">
    <%= f.label :last_cool_project_before_class %><br />
    <%= f.text_field :cool_project %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>





<%= render "devise/shared/links" %>
